#root {
  max-width: 1280px;
  margin: auto;
}

#not-found-container {
  min-height: 400px;
  padding: 0 48px;
}

.content {
  flex: 1;
}

.footer {
  font-family: "Open Sans";
  flex-shrink: 0;
  border-top: thin solid #878a8e;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grey);

  #left-footer-content {
    // font-weight: 200;
    // font-size: 16px;
    // color: var(--light-grey);

    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    color: #272343;
    letter-spacing: -0.04px;
  }

  #right-footer-content {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;

      span {
        font-weight: lighter;
        font-size: 18px;
        color: #272343;
        letter-spacing: -0.04px;
      }
    }

    a:hover {
      text-decoration: underline solid #272343;
    }

    #footer-social-icons {
      margin-left: 24px;
      display: flex;
      align-items: center;

      a {
        opacity: 0.6;
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      a:first-child {
        margin: 0 6px 0 0;
      }

      a:last-child {
        margin: 0 0 0 6px;
      }

      a:hover {
        opacity: 1;
      }
    }
  }

  .footer-flex-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
  }

  .footer span {
    justify-content: center;
  }
}

#navigation {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: thin solid #878a8e;
  background-color: var(--light-grey);

  img {
    max-width: 322px;
    height: 80px;
    width: 80px;
  }

  #desktop-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
  }

  .inner-links-container {
    display: flex;

    a {
      // font-size: 24px;
      // color: #ffffff;
      text-decoration: none;
      margin: 0 24px 0 24px;
      text-align: center;
      width: 100px;

      font-family: OpenSans-SemiBold;
      font-size: 21px;
      color: #272343;
      letter-spacing: -0.04px;
    }

    a:hover {
      text-decoration: underline solid #272343;
      font-weight: 600;
      // color: var(--green);
    }

    a:first-child {
      margin: 0 24px 0 0;
    }

    a:last-child {
      margin: 0 0 0 24px;
    }
  }
}

#vg-mag-quote {
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  padding: 0 24px;

  // padding: 0 48px 0 0;
  p {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 29px;
  }

  a {
    font-size: 24px;

    color: #4ecca3;
  }

  #call-to-action-link {
    display: flex;
    margin-top: 48px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 24px;
    font-size: 22px;
    align-items: center;

    svg {
      margin-left: 6px;
      margin-top: 3px;
      height: 20px;
      width: 20px;
      min-width: 20px;
      fill: #fff;
    }
  }

  #call-to-action-link:hover {
  }
}

.primary-button {
  background-color: white;
  padding: 12px 24px;

  border: 1px solid #1b262c;
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 17px;
  color: #272343;
  letter-spacing: -0.04px;
  border-radius: 20px;
  text-decoration: none;
}

/* normal button style */
.myButton {
  // width: 110px;
  padding: 12px 24px;
  border: 1px solid #1b262c;
  // height: 30px;
  background-color: white;
  text-align: center;
  color: #272343;
  position: relative;
  border-radius: 20px;
  text-decoration: none;
  // background-color: white;
}
/* button hover style if required */
.myButton:hover {
}
/* generated element for shine effect.
* normal state is semi-transparent
* white but with zero width. Set no
* transition here for no mouse-leave
* animations. Otherwise the effect
* will play in reverse when your mouse
* leaves the element
*/
.myButton:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: var(--navy-blue);
  opacity: 0.2;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 20px;
}
/* on hover we animate the width to
* 100% and opacity to 0 so the element
* grows and fades out
*/
.myButton:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#main-image-container {
  width: 100%;
  margin: 48px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    max-width: 350px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 24px;
    color: #272343;
    letter-spacing: -0.02px;
    font-family: "Open Sans";
    font-size: 24px;
    color: #272343;
    letter-spacing: -0.04px;

    small {
      margin-top: 12px;
      font-family: "Open Sans";
      font-weight: lighter;
      font-size: 14px;
      color: #272343;
      letter-spacing: -0.04px;
      font-family: "Open Sans";
      font-size: 14px;
      color: #272343;
      letter-spacing: -0.04px;
    }
  }

  img {
    max-width: 500px;
    width: 100%;
    flex: 1;
    max-height: 500px;
  }

  @media only screen and (max-width: 875px) {
    img {
      max-width: 320px;

      max-height: 320px;
    }
  }
}

#LandingPageContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;

  #insta-embed-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 24px 0;
    flex-wrap: wrap;

    iframe {
      margin: 12px !important;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.LandingPage {
  display: flex;
  width: 100%;
  justify-content: center;
  // height: 75vh;
  // min-height: 600px;

  #call-to-action-container {
    background-color: var(--light-grey);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

    @media only screen and (max-width: 875px) {
      padding-top: 0px;
    }
  }

  #jumbo-logo {
    width: 250px;
    height: 250px;
    margin-bottom: 24px;

    @media only screen and (max-width: 875px) {
      display: none;
    }
  }

  #call-to-action {
    text-align: center;
    width: 530px;
    margin-right: 24px;

    span {
      font-family: "Open Sans";
      font-weight: lighter;
      font-style: italic;
      font-size: 22px;
      color: #272343;
    }

    a {
      margin-top: 12px;
    }

    h3 {
      font-family: "Open Sans";
      font-size: 26px;
      color: #272343;
      letter-spacing: -0.04px;
    }

    #services-list {
      font-family: "Open Sans";
      font-size: 22px;
      color: #272343;
      letter-spacing: -0.04px;
      text-align: left;
      margin-bottom: 48px;

      div {
        margin: 12px 0;
        display: flex;
        align-items: center;

        svg {
          min-width: 19px;
          margin-right: 10px;
        }
      }
    }

    @media only screen and (max-width: 875px) {
      padding: 24px;

      h3 {
        margin-top: 8px;
        font-size: 22px;
      }

      span {
        font-size: 16px;
      }

      #services-list {
        font-size: 18px;
      }
    }
  }

  #mini-logo {
    display: none;

    @media only screen and (max-width: 875px) {
      // display: flex;
      // margin: auto;
      // width: 100px;
      // height: 100px;
    }
  }

  // .jumbo-bosch {
  //   margin: 12px 0;
  //   padding: 12px 0;
  //   background: rgba(0, 0, 0, 0) url("../images/jumbo.png") no-repeat scroll
  //     center center / cover;
  //   width: 500px;
  //   box-shadow: 0 0 10px 10px var(--dark-grey) inset;
  // }
}

#created-by-has {
  color: var(--light-grey);
  opacity: 0.2;
  font-size: 12px;
}

// .router-content {
//   flex: 1;
//   height: 100%;
//   display: flex;
// }

.About {
  display: flex;
  padding: 24px;
  max-width: 900px;
  margin: auto;

  a {
    color: var(--green);
  }

  img {
    float: left;
    max-width: 350px;
    border: solid 12px var(--medium-grey);
    border-radius: 3px;
    margin: 0 48px 24px 0;
  }

  h3 {
    display: inline;
    font-size: 24px;
  }

  #mobile-about-image {
    display: none;
  }
}

.contact-container {
  padding: 24px;
  display: flex;
  justify-content: space-around;
  padding: 24px;

  p {
    margin-top: 0;
  }

  h1 {
    margin: 0;
  }

  h2 {
    text-align: center;
    color: #eee;
    font-weight: 300;
  }

  .contact-information-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;

    img {
      max-width: 350px;
      align-self: center;
      margin: 12px 0;
      border: solid 24px var(--medium-grey);
      border-radius: 3px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin: 0 48px;
  }

  button {
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 24px;
    padding: 6px 24px;
    border-radius: 3px;
    background-color: var(--light-grey);
  }

  form {
    margin: auto;
    background: var(--light-grey);
    padding: 24px;
    border-radius: 3px;
    width: 100%;

    h1 {
      margin-bottom: 12px;
    }

    input,
    textarea {
      padding: 6px;
      border-radius: 3px;
      border: solid var(--dark-blue) 1px;
      border-style: solid !important;
      -webkit-appearance: none;

      box-shadow: none;
      flex: 1;
      display: flex;

      width: 95%;
    }

    textarea:focus,
    input:focus {
      border-color: var(--light-blue);
      border-style: solid !important;
    }
  }

  fieldset {
    display: flex;
    border: none;
    flex-direction: column;
    margin: 6px 0;
  }

  label {
    display: block;
    width: 100px;
    color: var(--light-grey);
    font-weight: 300;
    width: 100%;
  }
}

.Gallery {
  display: flex;
  flex-direction: column;
  padding: 24px;

  iframe {
    max-width: 100wv;
  }

  .youtube-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .youtube-wrapper {
    margin: 24px 0;
  }
}

.Music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .discography-table {
    font-size: 18px;
    max-width: 800px;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;

    img {
      max-width: 100px;
    }

    a {
      margin-left: 2px;
      color: var(--green);
    }

    span {
      color: var(--light-grey);
      border-top-width: 0.5px;
      border-top-style: solid;
      border-top-color: #eeeeee38;
      padding: 18px 12px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span:first-child {
      border-top: none;
    }
    span:nth-child(2) {
      border-top: none;
    }
    span:nth-child(3) {
      border-top: none;
    }
  }
}

@media only screen and (max-width: 850px) {
  .contact-container {
    flex-direction: column;
    align-items: center;

    form {
      width: auto;
      min-width: 450px;
    }

    .form-container {
      flex: 1;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 990px) {
  // #navigation {
  //   height: 110px;
  // }
  #desktop-nav-links {
    padding: 12px 0;
    // flex-direction: column;
  }

  #navigation .inner-links-container a:first-child {
    margin: 0 12px 0 0;
  }

  #navigation .inner-links-container a {
    margin: 0 12px 0 12px;
  }

  #navigation .inner-links-container a:last-child {
    margin: 0 0 0 12px;
  }

  .About {
    padding: 0 12px;
  }

  .contact-container {
    .contact-information-container {
      img {
        border: solid 12px var(--medium-grey);
        max-width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 675px) {
  .footer {
    padding: 16px;

    .footer-flex-container {
      flex-direction: column-reverse;

      #left-footer-content {
        margin-top: 12px;
      }
    }

    // #right-footer-content {
    //   align-items: center;
    //   display: flex;
    // }

    img {
      width: 25px;
    }
  }

  // .footer {
  //   padding: 16px;
  // }

  .inner-links-container {
    display: none !important;
  }

  .About {
    display: flex;
    flex-direction: column;
    #mobile-about-image {
      display: flex;
    }

    #desktop-about-image {
      display: none;
    }

    img {
      margin: 12px;
      margin-bottom: 0;
      width: 350px;
      border-width: 12px;
      align-self: center;
      // float: none;
    }
  }

  @media only screen and (max-width: 550px) {
    .contact-container {
      form {
        min-width: 325px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .Music {
      .discography-table {
        padding: 12px 0;
      }
    }

    #navigation #desktop-nav-links {
      padding: 0;
    }

    #navigation .inner-links-container a:first-child {
      margin: 0;
    }

    #navigation .inner-links-container a:last-child {
      margin: 0;
    }

    #navigation {
      .inner-links-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 6px;
        a {
          font-size: 20px;
          margin: 0;
        }
      }
    }
  }

  .LandingPage {
    min-height: 0px;
    img {
      max-width: 345px;
      // height: 100vh;
    }
  }

  // .footer {
  //   padding: 16px 16px 32px 16px;

  //   #right-footer-content {
  //     align-items: center;
  //     display: flex;
  //   }

  //   img {
  //     width: 25px;
  //   }
  // }

  #right-footer-content {
    // align-items: center;
    display: flex;

    span {
      font-size: 16px !important;
    }
  }

  #left-footer-content {
    font-size: 12px !important;
  }

  .Gallery {
    padding: 12px 0;
  }

  #vg-mag-quote {
    flex: 1;
    min-width: auto;
    padding: 12px;
    // padding: 0 48px 0 0;
    p {
      font-size: 22px;
    }

    a {
      font-size: 18px;
    }

    #call-to-action-link {
      font-size: 18px;
      max-width: 250px;

      svg {
        margin-left: 3px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .contact-container {
    form {
      min-width: 300px;
    }
  }
}
